<h2>Recently Added Books</h2>
<div>
    <% books.forEach(book => { %>
        <!-- <label for=""><%= book.title %></label> -->
        <img height="150" width="100" src="<%= book.coverImagePath %>" alt="">
    <% }) %>
</div>